<div class="container">
    <label>
        1. Simple Dropdown:
        <app-new-dropdown [control]="simpleDropdownFormControl" [dropdownOptions]="options"></app-new-dropdown>
        Value Selected:
        {{simpleDropdownFormControl.value}}
    </label>

    <label>
        2. Recent and Numbered Dropdown:
        <app-new-dropdown [control]="featuredDropdownFormControl" [dropdownOptions]="options" [showIndex]="true"
            [showRecent]="true">
        </app-new-dropdown>
        Value Selected:
        {{featuredDropdownFormControl.value}}
    </label>

    <label>
        3. Multipicked Dropdown:
        <app-new-dropdown [control]="multipleDropdownFormControl" [dropdownOptions]="options" [type]="'multiple'">
        </app-new-dropdown>
        Value Selected:
        {{multipleDropdownFormControl.value}}
    </label>


    <label>
        4. Manipulative Dropdown:
        <app-new-dropdown [control]="manipulativeDropDownFormControl" [dropdownOptions]="options">
        </app-new-dropdown>
        <button (click)="changeToThreeDemo()">three!</button>
        Value Selected:
        {{manipulativeDropDownFormControl.value}}
    </label>


    <label>
        5. Simple Autocomplete:
        <app-new-dropdown [control]="simpleAutocompleteFormControl" [dropdownOptions]="options" [type]="'autocomplete'">
        </app-new-dropdown>
        Value Selected:
        {{simpleAutocompleteFormControl.value}}
    </label>

    <label>
        6. Recent and Numbered Autocomplete:
        <app-new-dropdown [control]="featuredAutocompleteFormControl" [dropdownOptions]="options"
            [type]="'autocomplete'" [showIndex]="true">
        </app-new-dropdown>
        Value Selected:
        {{featuredAutocompleteFormControl.value}}
    </label>
</div>